/*a {
    color: blue;
}*/

@mixin border-box-stuff($type) {
    -webkit-box-sizing: $type;
    box-sizing: $type;
}


@mixin col_size($var1, $var2:1, $var3:0) {
    flex-basis: $var1;
    flex-grow: $var2;
    flex-shrink: $var3;
}

@mixin para_layout($font-size, $padding-1, $padding-2, $padding-3) {
    font-size: $font-size;
    padding: $padding-1 $padding-2 $padding-3;
}


@mixin medium {
    @media all and (min-width: 701px) and (max-width:900px) {
        @content;
    }
}

@mixin large {
    @media all and (min-width: 901px) and (max-width: 1400px) {
        @content;
    }
}

@mixin extra_large {
    @media all and (min-width: 1401px) {
        @content;
    }
}
