$color-light-blue: #C7F7FF;
$color-dark-blue: #3A5E63;
$color-light-grey: #d4d4d4;
$color-light-brown: #C9A689;
$color-dark-grey: #222;
$color-med-blue: #89C0C9;
$color-dark-brown: #7C593C;

$bg-color: #fff;


$main-font-family: 'Josefin Sans',
‘Trebuchet MS’,
Helvetica,
sans-serif;

$header-font-family: Cardo,
‘Palatino Linotype’,
‘Book Antiqua’,
Palatino,
serif;
